{% extends 'unify/user/base.html.twig' %}

{% block head_title %}My Account{% endblock %}

{% block breadcrumbs %}

  <section class="g-my-30">
    <div class="container">
      <ul class="u-list-inline">
        <li class="list-inline-item g-color-primary">
          <span>Dashboard</span>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}

{% block content %}
  <p>&nbsp;</p>
  <p>TODO: still working on it</p>
  <p>&nbsp;</p>
{% endblock %}