{% extends 'unify-admin/base.html.twig' %}

{% block head_title %}Dashboard{% endblock %}

{# remove breadcrumb header #}
{% block breadcrumbs %}{% endblock %}

{% block body %}


  <h1 class="g-font-weight-300 g-font-size-28 g-color-black g-mb-28">Datepickers</h1>
  <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-20 g-mb-30">
    <p>Testing</p>
    <p>Testing</p>
    <p>Testing</p>
    <p>Testing</p>
    <p>Testing</p>
    <p>Testing</p>
  </div>

{% endblock %}
