<!-- Sidebar Nav -->
<div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--light">
  <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">

    <!-- Dashboards -->
    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
      <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="{{ path('admin_dashboard') }}">
        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18"><i class="hs-admin-dashboard"></i></span>
        <span class="media-body align-self-center">Dashboard</span>
      </a>
    </li>
    <!-- End Dashboards -->

    <!-- Dashboards -->
    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
      <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="{{ path('admin_settings') }}">
        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18"><i class="hs-admin-settings"></i></span>
        <span class="media-body align-self-center">Settings</span>
      </a>
    </li>
    <!-- End Dashboards -->

  </ul>
</div>
<!-- End Sidebar Nav -->